body {
  font-family: georgia, times;
  color: rgb(85, 85, 85);
  font-size: 14px;
  text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 0px;
  line-height: 20px;
}
h1 {
  font-family: 'Patua One', cursive;
  font-size: 90px;
  margin-top: 20px;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}
h2, h3, h4, h5, h6 {
  color: #27313D;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 i, h3 i, h4 i, h5 i, h6 i {
  padding-right: 5px;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #808792;
}
hr {
  border-top: 1px solid #DDD;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  color: #333;
  letter-spacing: 1px;
  text-transform: lowercase;
}

h4 {
  text-align: center;
  color: rgb(102, 119, 136);
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2px
}

.line {
  background: #333;
  box-shadow: 0 1px 0 rgba(255,255,255,0.75);
  height: 2px;
  width: 80px;
  margin: 0 10px;
  display: inline-block;
  zoom: 1;
  float: none;
  margin-bottom: 0.3em;
}

/*------------------------------------*\
  $Base
\*------------------------------------*/

/* Top Section Showcase */
.showcase {
  position: relative;
  z-index: -1;
  background: transparent url('../assets/skyline.jpg') fixed;
  background-position: 0 -80px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  padding: 240px 10px 360px;
  text-align: center;
}
.description {
  font-family: georgia, Times, serif;
  font-size: 20px;
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

/* Strip (Call to action) */
.strip {
  width: auto;
  padding: 20px;
  text-align: center;
  background: #232323 url("../assets/texture-1.png");
  margin-bottom: 50px;
  font-family: 'montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.strip h3 {
  color: #FFF;
}
.strip .btn {
  margin-bottom: 3px;
}
.strip a {
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 24px;
}
.strip ul.nav a:hover {
  color: #428bca;
  background-color: transparent;
  border: 0;
}

.subtitle {
  font-family: georgia;
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
  color: rgb(122, 143, 163);
  text-align: center;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  line-height: 18px;
  margin-bottom: 28px;
}

p.circle-icons {
  height: 170px;
  text-align: center;
  vertical-align: middle;
}

p.circle-icons img {
  width: 160px;
}

#publications h3, #code h3, #connect h3 {
  color: rgb(102, 119, 136);
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  letter-spacing: 1px;
}

#publications .conference {
  color: rgb(94, 149, 22);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

#publications .authors {
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

#publications .bibtex {
  font-size: 14px;
  font-family: inconsolata;
  white-space: pre-wrap;
}

#code .java, #code .python, #code latex, #code config {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#code .java {
  background: url('../assets/java.png') no-repeat center center;
}

#code .python {
  background: url('../assets/python.png') no-repeat center center;
}

#code .latex {
  background: url('../assets/latex.png') no-repeat center center;
}

#code .config {
  background: url('../assets/config.png') no-repeat center center;
}

#connect img {
  width: 160px;
}

#connect img.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#connect img.tilt:hover {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#connect img.bw {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#connect img.bw:hover {
  -webkit-filter: grayscale(100%);
}

#connect img.morph {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#connect img.morph:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

#connect .mask {
    position:relative;
    height:160px;
    border: 0;
    overflow:hidden;
    float:left;
}
#connect .mask img {
    position:absolute;
    height:160px;
    width:160px;
}

#connect .caption {
  /* background-color: rgba(200,200,200,00);*/
  position: absolute;
  color: rgb(85, 85, 85);
  font-size: 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 28px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

#connect .caption h3 {
  text-align: center;
  margin-top: 0px;
}

#connect .mask:hover img {
  opacity: 0.3;
}

/* "Our Clientes" Section */
.customer-logo {
  padding-right: 38px;
  padding-bottom: 20px;
}

/* Avatar Images */
.user-avatar {
  float: left;
  margin: 0 10px 10px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
     -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}

/* Footer Section */
footer {
  width: auto;
  padding: 30px 20px 20px;
  margin-bottom: 0;
  background: #2F353E url("../assets/texture-1.png");
}
footer a {
  color: #FFF;
}
footer a:hover {
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px dotted #FFF;
}





/*------------------------------------*\
  $Components
\*------------------------------------*/

.bubble {
  position: relative;
  width: auto;
  height: 100%;
  padding: 20px 20px 10px;
  margin-bottom: 30px;
  color: #49535F;
  background: #ECEFF2;
  border: #7F7F7F solid 0px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      border-radius: 4px;
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20px;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #ECEFF2 transparent;
  display: block;
  width: 0;
  z-index: 1;
}

/* Flatten Default Button */
.btn {
  padding:7px 13px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #FFF;
  text-shadow: none;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  filter: none;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
      transition: all 0.5s;
}
.btn:hover,
.btn:active,
.btn .active,
.btn .disabled,
.btn[disabled] {
  color: #FFF;
  border-bottom: none;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
      transition: all 0.5s;
}

/* Themed Buttons */
.btn {
  background-color: #2F353E;
}
.btn:hover,
.btn:active,
.btn .active,
.btn .disabled,
.btn[disabled] {
  background-color: #5F686F;
}
.btn-primary {
  background-color: #AA0000;
}
.btn-primary:hover {
  background-color: #CC0000;
}
.btn-info {
  background-color: #01A9DB;
}
.btn-info:hover {
  background-color: #58D3F7;
}
.btn-success {
  background-color: #0B610B;
}
.btn-success:hover {
  background-color: #088A08;
}
.btn-warning {
  background-color: #FF8000;
}
.btn-warning:hover {
  background-color: #FACC2E;
}
.btn-danger {
  background-color: #B40404;
}
.btn-danger:hover {
  background-color: #CD2424;
}
.btn-inverse {
  background-color: #1C1C1C;
}
.btn-inverse:hover {
  background-color: #424242;
}






/*------------------------------------*\
  $Responsive
\*------------------------------------*/

@media (max-width: 1200px) {
  h1 {
    font-weight: normal; /* Avoid safari & ios double shadow and offset */
  }
}

@media (max-width: 979px) {
  h1 {
    font-size: 50px; /* Resize to fit better on mobile devices */
  }
}

@media (max-width: 768px) {
  .showcase,
  .strip,
  footer {
    margin-left: -20px; /* Maintain elements full-width */
    margin-right: -20px;
  }
}

/* Extra queries are for Apple devices */
@media (max-width: 768px), only screen and (min-device-width: 768px) and (max-device-width: 1024px), (min-device-width: 320px) and (max-device-width: 480px) {
  .showcase {
    background: transparent url("../assets/main-mobile.png") center top scroll; /* Smaller image to load faster */
    -webkit-background-size: 100%;
       -moz-background-size: 100%;
       -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
  }
}

